/* #region Base */

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #0a224a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
}

button {
  cursor: pointer;
  padding: 0;
}

.hidden {
  display: none;
}

/* #endregion */

/* #region common */

.container {
  width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}
.text {
  font-size: 16px;
  line-height: 150%;
}
.title {
  font-size: 28px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
  .text {
    font-size: 18px;
  }
  .title {
    font-size: 32px;
    line-height: 141%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1440px;
    padding: 0 60px;
  }
}

/* #endregion */

/* #region Header */

.header {
  background-color: #f7faff;
}
.header-container {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
}
.logo-fill {
  width: 100px;
  height: 16px;
  fill: #0a224a;
  transition: fill 300ms ease-in-out;
}
.logo-fill:hover {
  fill: #7a7a7a;
}
.header-nav {
  display: none;
}
.menu-btn {
  border: none;
  background-color: transparent;
}
.menu-btn-fill {
  stroke: #0a224a;
}
.menu-btn-fill:hover {
  stroke: #7a7a7a;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-bottom: 27px;
    height: 95px;
  }
  .logo-fill {
    width: 127px;
    height: 16px;
  }
  .menu-btn-fill {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .menu-btn {
    display: none;
  }
  .header-nav {
    display: block;
    padding: 8px;
  }
  .header-nav-list {
    display: flex;
    gap: 30px;
  }
  .header-nav-link {
    transition: color 300ms ease-in-out;
  }
  .header-nav-link:hover {
    color: #7a7a7a;
  }
}

/* #endregion */

/* #region Hero */

.hero {
  padding-top: 140px;
  padding-bottom: 313px;
  background: url(../images/hero/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  width: 285px;
  font-size: 28px;
  line-height: 150%;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.hero-box {
}
.hero-wrapper {
  display: none;
}
.hero-img-2 {
  display: none;
}
.text-btn {
  margin-top: 28px;
  width: 224px;
  height: 48px;
  background-color: #0a224a;
  color: #fff;
  border: none;
}
.text-btn:hover {
  background-color: #061835;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: none;
  }
  .hero-container {
    position: relative;
  }
  .hero-wrapper {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
    align-items: end;
  }
  .hero-img {
    width: 308px;
  }
  .hero-img-1 {
    display: block;
    width: 367px;
    object-fit: cover;
    object-position: left;
  }
  .hero-box {
    width: 308px;
  }

  .hero-title {
    position: absolute;
    left: 32px;
    top: 0;
    width: 648px;
    font-size: 50px;
    margin-bottom: 0;
  }
  .text-btn {
    margin-top: 30px;
    height: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-container {
    display: flex;
    gap: 25px;
  }
  .hero-title {
    left: 60px;
    top: 0;
  }
  .hero-wrapper {
    gap: 25px;
    margin-bottom: 0;
  }
  .hero-img {
    width: 310px;
  }
  .hero-img-1 {
    width: 648px;
  }
  .hero-img-2 {
    display: block;
    margin-bottom: 59px;
  }
}

/* #endregion */

/* #region About us */

.about-us {
  padding-top: 64px;
  background-color: #f7faff;
}
.about-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-title {
  display: flex;
  align-items: center;
  line-height: 150%;
}
.about-title-left {
  text-align: left;
}
.about-title::before {
  border: 1px solid #0a224a;
  width: 30px;
  height: 0px;
  content: "";
  margin-right: 20px;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.about-item {
  width: 170px;
}
.about-text {
  font-size: 50px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 14px;
}
.about-center {
  text-align: center;
}
.about-img {
  object-fit: cover;
  width: 375px;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .about-us {
    padding-top: 0;
    padding-bottom: 100px;
    background-color: transparent;
  }
  .about-container {
    gap: 30px;
  }
  .about-wrapper {
    padding: 36px 64px;
    background-color: #f7faff;
  }
  .about-list {
    flex-direction: row;
    gap: 33px;
  }
  .about-img {
    width: 704px;
    height: 540px;
  }
}
@media screen and (min-width: 1440px) {
  .about-container {
    flex-direction: row;
    gap: 24px;
  }
  .about-wrapper {
    padding: 36px 69px 34px;
  }
  .about-list {
    gap: 55.61px;
  }
  .about-img {
    width: 536px;
    object-fit: cover;
    object-position: center;
  }
}
/* #endregion */

/* #region Price */

.price {
  padding-top: 64px;
  padding-bottom: 64px;
}
.price-container {
  display: flex;
  justify-content: center;
}
.price-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 343px;
}
.price-item {
  display: contents;
}
.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-item::before,
.content-after::after {
  border: 1px solid #0a224a;
  width: 343px;
  height: 0px;
  content: "";
}

.price-text {
  font-size: 28px;
  line-height: 150%;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .price {
    padding-bottom: 100px;
    padding-top: 0;
  }
  .price-list {
    width: 704px;
  }
  .price-item::before,
  .content-after::after {
    width: 704px;
  }
  .price-text {
    font-size: 32px;
    line-height: 141%;
  }
}
@media screen and (min-width: 1440px) {
  .price-list {
    width: 1096px;
  }
  .price-item::before,
  .content-after::after {
    width: 1096px;
  }
}
/* #endregion */

/* #region Our products */

.our-products {
  padding-bottom: 64px;
}
.products-list {
  margin-top: 33px;
}
.products-item:not(:first-child) {
  display: none;
}
.products-img {
  width: 343px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .our-products {
    padding-bottom: 100px;
  }
  .products-list {
    display: flex;
    gap: 24px;
    margin-top: 0;
  }
  .products-item:nth-child(4n + 2) {
    display: block;
  }
  .products-img {
    width: 344px;
  }
}
@media screen and (min-width: 1440px) {
  .products-item:not(:first-child) {
    display: block;
  }
  .products-img {
    width: 312px;
    transition: transform 0.3s ease;
  }
  .products-img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
/* #endregion */

/* #region Bestsellers */

.bestsellers {
  padding-bottom: 64px;
}
.bestsellers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 21px;
}
.bestsellers-img {
  margin-bottom: 14px;
  width: 343px;
  height: 193px;
}
.bestsellers-img-item {
  margin-bottom: 14px;
  width: 343px;
  height: 193px;
}
.bestsellers-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.bestsellers-item:nth-child(3n + 1) {
  display: none;
}
.bestsellers-bottom {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .bestsellers {
    padding-bottom: 100px;
  }
  .bestsellers-wrapper {
    margin-top: 0;
    gap: 32px;
  }
  .bestsellers-img {
    margin-bottom: 15px;
    width: 704px;
    height: 489px;
  }
  .bestsellers-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
  }
  .bestsellers-item:nth-child(3n + 1) {
    display: block;
  }
  .bestsellers-img-item {
    width: 336px;
    height: 193px;
  }
}
@media screen and (min-width: 1440px) {
  .bestsellers-wrapper {
    flex-direction: row;
    gap: 24px;
    width: 1096px;
    margin: 0 auto;
  }
  .bestsellers-img {
    transition: transform 0.3s ease;
    width: 536px;
    height: 489px;
  }
  .bestsellers-img:hover {
    transform: scale(1.07);
    cursor: pointer;
  }
  .bestsellers-list {
    row-gap: 30px;
    column-gap: 20px;
  }
  .bestsellers-img-item {
    width: 258px;
    height: 193px;
  }
}
/* #endregion */

/* #region Clients reviews */

.clients-reviews {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #f7faff;
}
.clients-list {
  margin-top: 30px;
}
.clients-item:nth-child(n + 2) {
  display: none;
}
.clients-item {
  border-radius: 8px;
  width: 343px;
  height: 230px;
  background-color: #fff;
  padding: 24px;
}
.clients-wrapper {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
  align-items: center;
}
.clients-img {
  width: 48px;
  height: 48px;
}
.clients-box {
  width: 189px;
  height: 48px;
}
.clients-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.clients-text {
  font-size: 14px;
  line-height: 129%;
}
.small-text {
  font-size: 14px;
  line-height: 143%;
}
@media screen and (min-width: 768px) {
  .clients-item:nth-child(2n + 2) {
    display: block;
  }
  .clients-list {
    display: flex;
    gap: 16px;
  }
  .clients-item {
    width: 344px;
    height: 319px;
  }
  .clients-wrapper {
    margin-bottom: 14px;
  }
  .clients-img {
    width: 56px;
    height: 56px;
  }
  .clients-box {
    width: 259px;
    height: 65px;
  }
  .clients-caption {
    font-size: 20px;
    line-height: 225%;
    margin-bottom: 4px;
  }
  .clients-text {
    font-size: 16px;
    line-height: 150%;
  }
  .small-text {
    font-size: 18px;
    line-height: 150%;
  }
}
@media screen and (min-width: 1440px) {
  .clients-reviews {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients-item:nth-child(3n + 3) {
    display: block;
  }
  .clients-list {
    gap: 24px;
  }
  .clients-item {
    width: 424px;
    height: 306px;
    padding: 32px;
  }
  .clients-wrapper {
    margin-bottom: 16px;
  }
}
/* #endregion */
